/* Style the footer with a grey background and some padding */
.footer {
  overflow: hidden;
  background-color: #7C7CFC;
  padding: 20px 10px;
}

/* Style the footer links */
.footer a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

/* Style the logo link (notice that we set the same value of line-height and font-size to prevent the footer to increase when the font gets bigger */
.footer a.logo {
  font-size: 25px;
  font-weight: bold;
}

/* Change the background color on mouse-over */
.footer a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the active/current link*/
.footer a.active {
  background-color: dodgerblue;
  color: white;
}

/* Float the link section to the right */
.footer-right {
  float: right;
}